@model IEnumerable<MyFoodDay.Models.Product>

@{
    ViewData["Title"] = "ShowProducts";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/showproducts.css" />
    <meta name="viewport" content="width=device-width" />
</head>

<h1> Products </h1>


<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-8">

            <div class="search">
                <i class="fa fa-search"></i>
                <input id="search"type="text" class="form-control" placeholder="Search for your item">
                <button onclick="search()" class="btn btn-primary">Search</button>
            </div>

        </div>

    </div>
</div>

<div class="custom-button">
    <a class="btn" asp-controller="Product" asp-action="AddProduct" style="background-color: rgb(5, 68, 104); color:white">Add new product</a>
</div>

<table class="table">
    <thread>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasurementType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proteins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fats)
            </th>

        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proteins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fats)
            </td>
            <td>
                <a class="btn btn-success" id="addButton" asp-controller="Product" asp-action="AddConsumedProduct" asp-route-name="@item.ProductName">Add</a>
            </td>

        </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        function search() {
            $("tr").each(function (index, value) {
                if (index > 0 && !$(this).find("td")[0].innerText.includes($("#search").val())) {
                    $(this).attr("hidden", true);
                } else {
                    $(this).removeAttr("hidden");
                }
                console.log(value);
            })
        }
    </script>
}

